body {
	background-color: #1b1f25;
}

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	background-color: #222831;
	padding: 30px;
	border-radius: 10px;
}

.body-header {
    display: flex;
    flex-direction: column;
	align-items: center;
}

.body-header img {
    border-radius: 50%;
	width: 35%;
}

.body-header h1 {
	color: #fff;
}

.body-header h4 {
    margin-top: -10px;
	color: yellowgreen;
}

.body-header p {
    margin-top: 0px;
	color: #fff;
	text-align: center;
}

.btn-group {
    display: flex;
    flex-direction: column;
	gap: 8px;
}

.btn-group button {
    color: #fff;
	font-weight: bold;
    background-color: #31363F;
    border-radius: 10px;
    border: none;
    padding: 12px;
    width: 270px;
}

.btn-group button:hover {
	background-color: yellowgreen;
}

.attribution {
    color: #fff;
    margin-top: 30px;
    font-size: 10px;
    text-align: center;
}

.attribution a {
	color: #fff;
}

.attribution a:hover {
	color: yellowgreen;
}

.attribution a:visited {
	color: #fff;
}

@media only screen and (min-width: 375px) {
	.body {
		margin: 20px;
	}

	.btn-group button {
		width: 260px;
	}
}

@media only screen and (min-width: 425px) {
	.body {
		margin: 40px;
	}

	.btn-group button {
		width: 250px;
	}
}

@media only screen and (min-width: 768px) {
	.body {
		margin: 200px ;
	}

	.btn-group button {
		width: 250px;
	}
}

@media only screen and (min-width: 1024px) {
	.body {
		margin: 200px 335px ;
	}

	.btn-group button {
		width: 250px;
	}
}

@media only screen and (min-width: 1440px) {
	.body {
		margin: 200px 530px ;
	}

	.btn-group button {
		width: 250px;
	}
}

@media only screen and (min-width: 2560px) {
	.body {
		margin: 200px 1100px ;
	}

	.btn-group button {
		width: 250px;
	}
}

